{
  "extends": "@antfu",
  "plugins": [
    "todo-ddl"
  ],
  "rules": {
    "no-console": "off",
    "todo-ddl/diy": "warn",
    "curly": "off",
    "promise/param-names": "off",
    "@typescript-eslint/comma-dangle": "off"
  }
}